body{
    background-color: aliceblue;
}
a{
    text-decoration:none;
}
button{
    background: none;
    border-style:none;
}
.road{
    display: flex;
flex-direction: row;
flex-wrap: wrap;
justify-content: center;
align-items: flex-start;
align-content: flex-start;
height:85%;
width:100%;
}
.left{
    background-color:black;
    border-right-style:dashed;
    border-width: 15px;
    border-color:yellow;
    height:100%;
    width:30%;
    display: inline-flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;

}
.right{
    background-color:black;
    border-style:none;
    height:100%;
    width:30%;
    display: inline-flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
}